body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.header {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
  background-color: rgb(0, 120, 215);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, .18),
    0 2px 4px rgba(0, 0, 0, .12),
    0 3px 8px rgba(0, 0, 0, .06);
}

header h1 {
  font-weight: 100;
}
