.counter {
    display: flex;
    flex-direction: column;
    min-height: 24rem;
    padding: 1rem;
    margin: 1rem;

    background-color: #fff;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, .18),
        0 2px 4px rgba(0, 0, 0, .12),
        0 3px 8px rgba(0, 0, 0, .06);
    border-radius: 4px;
}

.counter-state {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.buttons {
    display: flex;
}

button {
    flex: 1;
    padding: 1rem;
    margin: 1rem;

    background-color: rgb(255, 67, 67);
    color: #fff;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
}